[submodule "openwrt"]
	path = openwrt
	url = git://nbd.name/attitude_adjustment.git
[submodule "packages/openwrt"]
	path = packages/openwrt
	url = git://nbd.name/packages_12.09.git
[submodule "packages/gluon"]
	path = packages/gluon
	url = git://github.com/freifunk-gluon/packages.git
[submodule "packages/routing"]
	path = packages/routing
	url = https://github.com/openwrt-routing/packages.git
[submodule "packages/luci"]
	path = packages/luci
	url = https://github.com/freifunk-gluon/luci.git
	branch = luci-0.11
