name: Backport
on:
  pull_request_target:
    types: [closed, labeled]
jobs:
  backport:
    name: Backport Pull Request
    if: github.repository_owner == 'freifunk-gluon' && github.event.pull_request.merged == true && (github.event_name != 'labeled' || startsWith('backport', github.event.label.name))
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Create backport PRs
        uses: zeebe-io/backport-action@v1.0.1
        with:
          # Config README: https://github.com/zeebe-io/backport-action#backport-action
          github_token: ${{ secrets.GITHUB_TOKEN }}
          github_workspace: ${{ github.workspace }}
          pull_description: |-
            Automatic backport to `${target_branch}`, triggered by a label in #${pull_number}.
