
# Update this file after adding/removing/renaming a target by running
# `make list-targets BROKEN=1 | ./contrib/actions/generate-actions.py > ./.github/workflows/build-gluon.yml`

name: Build Gluon
on:
  push:
  pull_request:
    types: [opened, synchronize, reopened]
jobs:

  ar71xx-generic:
    name: ar71xx-generic
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install Dependencies
        run: bash contrib/actions/install-dependencies.sh
      - name: Build
        run: bash contrib/actions/run-build.sh ar71xx-generic
      - name: Archive build output
        uses: actions/upload-artifact@v1
        with:
          name: output
          path: output

  ar71xx-tiny:
    name: ar71xx-tiny
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install Dependencies
        run: bash contrib/actions/install-dependencies.sh
      - name: Build
        run: bash contrib/actions/run-build.sh ar71xx-tiny
      - name: Archive build output
        uses: actions/upload-artifact@v1
        with:
          name: output
          path: output

  ar71xx-nand:
    name: ar71xx-nand
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install Dependencies
        run: bash contrib/actions/install-dependencies.sh
      - name: Build
        run: bash contrib/actions/run-build.sh ar71xx-nand
      - name: Archive build output
        uses: actions/upload-artifact@v1
        with:
          name: output
          path: output

  ath79-generic:
    name: ath79-generic
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install Dependencies
        run: bash contrib/actions/install-dependencies.sh
      - name: Build
        run: bash contrib/actions/run-build.sh ath79-generic
      - name: Archive build output
        uses: actions/upload-artifact@v1
        with:
          name: output
          path: output

  brcm2708-bcm2708:
    name: brcm2708-bcm2708
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install Dependencies
        run: bash contrib/actions/install-dependencies.sh
      - name: Build
        run: bash contrib/actions/run-build.sh brcm2708-bcm2708
      - name: Archive build output
        uses: actions/upload-artifact@v1
        with:
          name: output
          path: output

  brcm2708-bcm2709:
    name: brcm2708-bcm2709
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install Dependencies
        run: bash contrib/actions/install-dependencies.sh
      - name: Build
        run: bash contrib/actions/run-build.sh brcm2708-bcm2709
      - name: Archive build output
        uses: actions/upload-artifact@v1
        with:
          name: output
          path: output

  ipq40xx-generic:
    name: ipq40xx-generic
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install Dependencies
        run: bash contrib/actions/install-dependencies.sh
      - name: Build
        run: bash contrib/actions/run-build.sh ipq40xx-generic
      - name: Archive build output
        uses: actions/upload-artifact@v1
        with:
          name: output
          path: output

  ipq806x-generic:
    name: ipq806x-generic
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install Dependencies
        run: bash contrib/actions/install-dependencies.sh
      - name: Build
        run: bash contrib/actions/run-build.sh ipq806x-generic
      - name: Archive build output
        uses: actions/upload-artifact@v1
        with:
          name: output
          path: output

  lantiq-xrx200:
    name: lantiq-xrx200
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install Dependencies
        run: bash contrib/actions/install-dependencies.sh
      - name: Build
        run: bash contrib/actions/run-build.sh lantiq-xrx200
      - name: Archive build output
        uses: actions/upload-artifact@v1
        with:
          name: output
          path: output

  lantiq-xway:
    name: lantiq-xway
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install Dependencies
        run: bash contrib/actions/install-dependencies.sh
      - name: Build
        run: bash contrib/actions/run-build.sh lantiq-xway
      - name: Archive build output
        uses: actions/upload-artifact@v1
        with:
          name: output
          path: output

  mpc85xx-generic:
    name: mpc85xx-generic
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install Dependencies
        run: bash contrib/actions/install-dependencies.sh
      - name: Build
        run: bash contrib/actions/run-build.sh mpc85xx-generic
      - name: Archive build output
        uses: actions/upload-artifact@v1
        with:
          name: output
          path: output

  mpc85xx-p1020:
    name: mpc85xx-p1020
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install Dependencies
        run: bash contrib/actions/install-dependencies.sh
      - name: Build
        run: bash contrib/actions/run-build.sh mpc85xx-p1020
      - name: Archive build output
        uses: actions/upload-artifact@v1
        with:
          name: output
          path: output

  ramips-mt7620:
    name: ramips-mt7620
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install Dependencies
        run: bash contrib/actions/install-dependencies.sh
      - name: Build
        run: bash contrib/actions/run-build.sh ramips-mt7620
      - name: Archive build output
        uses: actions/upload-artifact@v1
        with:
          name: output
          path: output

  ramips-mt7621:
    name: ramips-mt7621
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install Dependencies
        run: bash contrib/actions/install-dependencies.sh
      - name: Build
        run: bash contrib/actions/run-build.sh ramips-mt7621
      - name: Archive build output
        uses: actions/upload-artifact@v1
        with:
          name: output
          path: output

  ramips-mt76x8:
    name: ramips-mt76x8
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install Dependencies
        run: bash contrib/actions/install-dependencies.sh
      - name: Build
        run: bash contrib/actions/run-build.sh ramips-mt76x8
      - name: Archive build output
        uses: actions/upload-artifact@v1
        with:
          name: output
          path: output

  ramips-rt305x:
    name: ramips-rt305x
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install Dependencies
        run: bash contrib/actions/install-dependencies.sh
      - name: Build
        run: bash contrib/actions/run-build.sh ramips-rt305x
      - name: Archive build output
        uses: actions/upload-artifact@v1
        with:
          name: output
          path: output

  sunxi-cortexa7:
    name: sunxi-cortexa7
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install Dependencies
        run: bash contrib/actions/install-dependencies.sh
      - name: Build
        run: bash contrib/actions/run-build.sh sunxi-cortexa7
      - name: Archive build output
        uses: actions/upload-artifact@v1
        with:
          name: output
          path: output

  x86-generic:
    name: x86-generic
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install Dependencies
        run: bash contrib/actions/install-dependencies.sh
      - name: Build
        run: bash contrib/actions/run-build.sh x86-generic
      - name: Archive build output
        uses: actions/upload-artifact@v1
        with:
          name: output
          path: output

  x86-geode:
    name: x86-geode
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install Dependencies
        run: bash contrib/actions/install-dependencies.sh
      - name: Build
        run: bash contrib/actions/run-build.sh x86-geode
      - name: Archive build output
        uses: actions/upload-artifact@v1
        with:
          name: output
          path: output

  x86-64:
    name: x86-64
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install Dependencies
        run: bash contrib/actions/install-dependencies.sh
      - name: Build
        run: bash contrib/actions/run-build.sh x86-64
      - name: Archive build output
        uses: actions/upload-artifact@v1
        with:
          name: output
          path: output

  ar71xx-mikrotik:
    name: ar71xx-mikrotik
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install Dependencies
        run: bash contrib/actions/install-dependencies.sh
      - name: Build
        run: bash contrib/actions/run-build.sh ar71xx-mikrotik
      - name: Archive build output
        uses: actions/upload-artifact@v1
        with:
          name: output
          path: output

  brcm2708-bcm2710:
    name: brcm2708-bcm2710
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install Dependencies
        run: bash contrib/actions/install-dependencies.sh
      - name: Build
        run: bash contrib/actions/run-build.sh brcm2708-bcm2710
      - name: Archive build output
        uses: actions/upload-artifact@v1
        with:
          name: output
          path: output

  mvebu-cortexa9:
    name: mvebu-cortexa9
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install Dependencies
        run: bash contrib/actions/install-dependencies.sh
      - name: Build
        run: bash contrib/actions/run-build.sh mvebu-cortexa9
      - name: Archive build output
        uses: actions/upload-artifact@v1
        with:
          name: output
          path: output

